<div class="main">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-6">
      <div class="skills">
        HTML(5)/SCSS/CSS(3)
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            ADVANCED
          </div>
        </div>
        JAVASCRIPT/JQUERY
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            ADVANCED
          </div>
        </div>
        RUBY/RUBY ON RAILS
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            PROFICIENT
          </div>
        </div>
        PHP/WORDPRESS
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            PROFICIENT
          </div>
        </div>
        PHP/CODEIGNITER
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            BEGINNER
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
      <div class="about-me">
        <h3 class="half-width">{ THE BEGINNING }</h3>
        <p>My first introduction to coding came in high school. I took classes in JavaScript and Visual Basic. I also taught myself HTML and CSS by building and designing the make-your-own websites (such as Angelfire, Xanga, and Geocities) that were popular at the time.</p>
        <p>In college, I decided to focus on business and, after college, went to work in the fashion industry for eight years. Over that time, I saw the industry shift and change, becoming increasingly more focused on e-commerce and digital services. For two years, I ran the e-commerce website at the handbag company for which I worked. In the process, I had the opportunity to assist in a full site redesign. As I was working with the developers and recommending features, it dawned on me that I was much more interested in the work the developers were doing than the work I was doing. I wanted to be the developer. I had always enjoyed the problem-solving aspects of coding and working on the site redesign re-inspired that interest in me.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="<%= image_url('kristin-head-image.png') %>" alt="" id="k-head">
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{ FLATIRON }</h3>
      <div class="text">
        <p>Over the next few months, I took online courses in HTML, CSS, and Ruby. I realized that I was spending all of my free time working on code and thoroughly enjoying it! I reached out to people in my network and discussed options for pivoting my career into tech and it was suggested to me to look into coding bootcamps. After much research, I landed at the Flatiron School, an intense, immersive coding bootcamp. For three months, I worked harder than I have ever worked. We covered a tremendous amount of information including, but not limited to:</p>
        <ul>
          <li>Ruby</li>
          <li>Ruby on Sinatra</li>
          <li>Ruby on Rails</li>
          <li>JavaScript/JQuery</li>
          <li>Ember.js</li>
          <li>HTML/CSS</li>
          <li>SQL (SQLlite3, Postgresql)</li>
        </ul>
        <p>My 'aha!' moment came when I realized that I was spending roughly 15 hours a day coding (in class, working on projects, etc.) and was so excited to come back do it all again the next day.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 post-flatiron">
      <h3>{ POST FLATIRON }</h3>
      <p>Upon graduating from Flatiron, I entered the workforce as a freelancer and Ruby/JavaScript/HTML/CSS tutor. In November 2016, I accepted a full-time position as a web developer at a creative agency. This position pivoted me once again into learning PHP/Codeigniter and Wordpress development.</p>
      <p>Currently, I am continuing my journey in learning the Codeigniter framework and beginning to learn data science. When I was working in fashion, the part of my job I loved the most was analyzing the sales data and making suggestions on what areas of the business could improve (and how) based on the data. I'm looking to combine my love of analytics with my love of coding.</p>
      <p>If you would like to learn more about tutoring, please <a href="/pages/tutoring">click here</a>. Check out some of the projects I’ve worked on <a href="/projects">here</a>.</p>
      <p>Please feel free to reach out to me via the contact page or any of the links below!</p>
      <div class="social-icons">
        { <a href="https://github.com/kdonovan2005" target="_blank"><span class="icon-github"></span></a>
        <a href="https://rubyisshiny.tumblr.com" target="_blank"><span class="icon-tumblr"></span></a>
        <a href="https://www.linkedin.com/in/kristinydonovan/" target="_blank"><span class="icon-linkedin"></span></a>
        <a href="https://learn.co/kdonovan2005/resume" target="_blank"><span class="icon-doc-text"></span></a>
        <a href="mailto:kdonovan2005@gmail.com" target="_blank"><span class="icon-mail"></span></a> }
      </div>
    </div>
  </div>

</div>
