<div class="main">
  <div class="social-icons">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <a href="https://github.com/kdonovan2005"><span class="icon icon-github"></span>
        <p class="icon-label">KDONOVAN2005</p></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="https://www.linkedin.com/in/kristinydonovan/"><span class="icon icon-linkedin"></span>
        <p class="icon-label">KRISTIN DONOVAN</p></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="https://rubyisshiny.tumblr.com"><span class="icon icon-tumblr"></span>
        <p class="icon-label">RUBYISSHINY.TUMBLR.COM</p></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="https://learn.co/kdonovan2005/resume"><span class="icon icon-doc-text"></span>
        <p class="icon-label">RESUME</p></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="mailto:kdonovan2005@gmail.com"><span class="icon icon-mail"></span>
        <p class="icon-label">KDONOVAN2005@GMAIL.COM</p></a>
      </div>
    </div>
  </div>
</div>
