<div class="container half-size">
  <div class="row">
    <div class="col-xs-12">
      <img src="http://i.imgur.com/x3uig5H.png" alt="Kristin Donovan Logo">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 gray-bg">
      <a href="/pages/home" class="yellow">HOME</a>
    </div>
    <div class="col-xs-6 yellow-bg">
      <a href="/projects" class="gray">PROJECTS</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 gray-bg">
      <a href="/pages/about" class="yellow">ABOUT</a>
    </div>
    <div class="col-xs-6 yellow-bg">
      <a href="https://rubyisshiny.tumblr.com" target="_blank" class="gray">BLOG</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 gray-bg">
      <a href="/pages/tutoring" class="yellow">TUTORING</a>
    </div>
    <div class="col-xs-6 yellow-bg">
      <a href="/pages/contact" class="gray">CONTACT</a>
    </div>
  </div>
</div>
