<div class="main">
  <div class="row">
    <div class="col-sm-12 col-md-6 text">
      <p>I AM AVAILABLE FOR TUTORING IN A VARIETY OF PROGRAMMING LANGUAGES, BOTH FRONT-END AND BACK-END.</p>
      <p>ALL TUTORING IS SUBJECT TO MY AVAILABILITY. PREFERRENCE WILL BE GIVEN TO STUDENTS WHO ARE CURRENTLY ENROLLED IN A PROGRAM (SUCH AS A BOOTCAMP ATTENDEES, HIGH SCHOOL PROGRAMMING STUDENTS, COMPUTER SCIENCE MAJORS, ETC.).</p>
      <p>FOR TUTORING AVAILABILITY AND PRICING, PLEASE EMAIL ME.</p>
      <p>PLEASE PROVIDE THE APPROXIMATE HOURS PER WEEK NEEDED, PREFERRED TIMES (MORNINGS, EVENINGS, ETC.), AND PREFERRED DAYS.</p>
    </div>
    <div class="col-sm-12 col-md-6 languages">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="subject">
            <p>RUBY</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="subject">
            <p>JAVASCRIPT</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="subject">
            <p>HTML</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="subject">
            <p>SCSS/CSS</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="subject">
            <p>WORDPRESS</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form">
    <h3>{ INTERSTED IN TUTORING? }</h3>
    <p>Email me for availability and pricing.</p>
    <a class="icon-mail" href="mailto:kdonovan2005@gmail.com"></a>

     <!-- <form class="" action="" method="post">
       <label for="name">Name</label>
       <input type="text" name="name" value="">
       <label for="email">Email</label>
       <input type="text" name="email" value="">
       <p>Please select all that apply:</p>
       <label for="language">Ruby</label>
       <input type="checkbox" name="language" value="Ruby">
       <label for="language">Javascript/JQuery</label>
       <input type="checkbox" name="language" value="Javascript">
       <label for="language">PHP/Wordpress</label>
       <input type="checkbox" name="language" value="PHP/Wordpress">
       <label for="language">HTML</label>
       <input type="checkbox" name="language" value="HTML">
       <label for="language">SCSS/CSS</label>
       <input type="checkbox" name="language" value="SCSS/CSS">
     </form> -->
  </div>

</div>
