<div class="projects-slider">
  <% @projects.each do |project| %>
    <div class="padded">
      <a href="/projects/<%= project.id %>">
        <div class="bordered">
          <img src="<%= project.photo %>" alt="">
          <div class="gray-bg">
            <h4><%= project.title%></h4>
            <h5><%= project.tag_line %></h5>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
