<div class="note">
  <p>Some of my client work includes sensitive information and can't be displayed here. A few projects that aren't listed below include:</p>
  <ul>
    <li>A dashboard application that parses JSON data and displays graphs. Coded in JavaScript</li>
    <li>An application that parses JSON data and completes some mathematical analytics on the associated data. Coded in Ruby.</li>
  </ul>
</div>
<div class="projects-slider">
  <% @projects.each do |project| %>
    <div class="padded">
      <div class="bordered">
        <a href="/projects/<%= project.id %>">
          <img src="<%= project.photo %>" alt="">
          <div class="gray-bg">
            <h4><%= project.title%></h4>
            <h5><%= project.tag_line %></h5>
          </div>
        </a>
      </div>
    </div>
  <% end %>
</div>
